@model IEnumerable<MVC2024.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Ejercicio";
}

<h1>Ejercicio</h1>

<!--deplegable de marcas-->
<form method="get">
    <select id="marcaId" name="marcaId" class="form-control" asp-items="ViewBag.lasMarcas" onchange="this.form.submit()"></select>
    <select id="serieId" name="serieId" class="form-control" asp-items="ViewBag.lasSeries" onchange="this.form.submit()"><</select>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
        </tr>
}
    </tbody>
</table>
