<h1>Desplegable</h1>
@Html.DropDownList("LasMarcas", new List<SelectListItem>{
	new SelectListItem{Text="Audi", Value="1", Selected=true},
	new SelectListItem{Text="BMW", Value="2"},
	new SelectListItem{Text="Mercedes", Value="3"},
	new SelectListItem{Text="Volkswagen", Value="4"},
	new SelectListItem{Text="Ford", Value="5"},
	new SelectListItem{Text="Fiat", Value="6"},
	new SelectListItem{Text="Renault", Value="7"},
	})