@model ParaExamen2.Models.AlumnoModelo

@{
    ViewData["Title"] = "CreateAlumno";
}

<h1>CreateAlumno</h1>

<h4>AlumnoModelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAlumno">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomAlumno" class="control-label"></label>
                <input asp-for="NomAlumno" class="form-control" />
                <span asp-validation-for="NomAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApeAlumno" class="control-label"></label>
                <input asp-for="ApeAlumno" class="form-control" />
                <span asp-validation-for="ApeAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoAlumnoId" class="control-label"></label>
                <select asp-for="CursoAlumnoId" class="form-control" asp-items="ViewBag.CursosAlmacenados"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
